body{
    width: 80%;
    margin:auto;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.btnContainer{
    text-align: center;
}


#accordion li{
    background-color: #f9f9f9;
    list-style: none;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

#accordion li > label{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 100%;
}

#accordion li:hover{
    background-color: #ececec ;
}



#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

#accordion label + input[type="radio"]:checked + .content{
    height: 100%;
}

